{% extends 'catalog/wrapper.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'users/login.css' %}">
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p class="l">Login</p>
        <input placeholder="Email" type="text" id="email" name="email">
        <input placeholder="Password" type="password" name="password" id="password">
        <button type="submit">Login</button>
        <a class="have" href="/signup/">Haven`t account?</a>
    </form>
{% endblock %}