form{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 220px;
    padding: 20px;
    height: auto;
    text-align: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
p.sign{
    font-size: 35px;
    margin: 0;
    margin-bottom: 15px;
}
input{
    width: 200px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
button{
    width: 200px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
p.place{
    margin: 0;
    font-size: 12px;
}
a.have{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}